/* changes the background color of these mentioned pages to black */

@-moz-document url(chrome://browser/content/blanktab.html), url(about:newtab), url(about:home), url(about:privatebrowsing), url(about:profiles){
    body{
        background-color: black !important;
    }

}
/* preferences page black background */
@-moz-document url(about:preferences){
    body{
        background-color: black !important;
        .sticky-container{
            background-color: black !important;
        }
    }
    
}

/* 
* Addons page compact redisign with a black background 
* code taken from https://www.reddit.com/r/FirefoxCSS/comments/a8z6wk/make_aboutaddons_page_look_nice_and_compact/  
*/

@-moz-document url(about:addons){
    body{ 
        background-color: rgb(0, 0, 0) !important;
        .sticky-container{
            background-color: black !important;
        }
        .main-search{
            background-color: black !important;
        }
        .main-heading{
            background-color: black !important;
        }
     }

    .addon.card { 
     
     max-width: 950px !important;
     padding: 4px !important;
     padding-right: 6px !important;
     padding-left: 11px !important;
     margin: -1px !important;
     margin-top: 4px !important; 
     font-size: 11px !important;
     font-family: Arial !important;
     border-radius: 16px !important;
     background-color: rgba(39, 37, 37, 0.967) !important;
        
 }
 
 #header-inner {
     
     margin-left: -133px !important;
     margin-bottom: -27px !important;
  
 }
 
 .heading-inner {
     width: 1795px !important;
     margin-left: -1185px !important;
     margin-top: -28px !important;
     
 }
 
 .toolbarbutton-icon {
     padding: 0px 2px !important;
     margin-left: -222px !important;
     margin-right: 0px !important;
     margin-top: -2px !important;
     padding-top: 2px !important;}

 }